<h1>Listing articles</h1>

<%= link_to "New article", new_article_path %>

<%@articles.each do |article| %>
    <ul>
        <li>
            Title: <%= article.title %>
        </li>
        <%= article.text %>
        <%= link_to 'Show', article_path(article) %>
    </ul>
<% end %>